x-default: &default
  restart: 'always'
  logging:
    driver: 'json-file'
    options:
      max-size: '500m'
      max-file: '2'

services:
  psuniversal:
    <<: *default
    image: ironmansoftware/universal:latest
    networks:
      - proxy_network
    volumes:
      - psuniversal_data:/root
    environment:
      - TZ=Europe/Amsterdam
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.psuniversal.rule=Host(`$PUBLIC_HOSTNAME`)"
      - "traefik.http.routers.psuniversal.tls=true"
      - "traefik.http.routers.psuniversal.entrypoints=${TRAEFIK_ENTRYPOINTS:-websecure}"
      - "traefik.http.middlewares.psuniversal-to-https.redirectscheme.scheme=https"
      - "traefik.http.middlewares.psuniversal-to-https.redirectscheme.permanent=true"

volumes:
  psuniversal_data:

networks:
  proxy_network:
    name: $PROXY_NETWORK
    external: true