tls:
  # certificates:
  #   - certFile: /etc/certs/cert.pem
  #     keyFile: /etc/certs/key.pem
  options:
    default:
      minVersion: VersionTLS12
      cipherSuites:
      # Recommended ciphers for TLSv1.2
      - TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384
      - TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256
      - TLS_ECDHE_RSA_WITH_CHACHA20_POLY1305
      # Recommended ciphers for TLSv1.3
      - TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384
      - TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256
      - TLS_ECDHE_ECDSA_WITH_CHACHA20_POLY1305
    tlsv13only:
      minVersion: VersionTLS13

tcp:
  routers:
    tactical:
      # rule: HostSNI(`dash.rmm.mydomain.net`)
      rule: HostSNIRegexp(`^.+\.rmm\.mydomain\.net$`)
      tls:
        passthrough: true
      entrypoints:
        - "websecure"
      service: tactical
  services:
    tactical:
      loadBalancer:
        servers:
          - address: "192.168.55.40:443"

http:
  routers:
    traefik-dashboard:
      rule: Host(`traefik.yourdomain.com`) && (PathPrefix(`/api`) || PathPrefix(`/dashboard`))
      entryPoints:
        - "websecure"
      service: api@internal
    nextcloud:
      rule: "Host(`cloud.mydomain.net`)"
      entrypoints:
        - "websecure"
      service: nextcloud
      middlewares:
        - nextcloud-chain
    ollama:
      rule: "Host(`ollama.127.0.0.1.nip.io`)"
      entrypoints:
        - "websecure"
      service: ollama

  services:
    nextcloud:
      loadBalancer:
        servers:
          - url: "http://192.168.55.51:11000"
    ollama:
      loadBalancer:
        servers:
          - url: "http://127.0.0.1:11434"

  middlewares:
    nextcloud-secure-headers:
      headers:
        hostsProxyHeaders:
          - "X-Forwarded-Host"
        referrerPolicy: "same-origin"
    https-redirect:
      redirectscheme:
        scheme: https
    nextcloud-chain:
      chain:
        middlewares:
          - https-redirect
          - nextcloud-secure-headers